@import "font-awesome-sprockets";
@import "font-awesome";

.status {
  padding: 15px;
  margin-bottom: 10px;
  transition: background-color 0.6s;
  border-radius: 10px;
  background-color: darken(#707070, 3%);
}

.status .admin {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.status:hover .admin {
  visibility:visible;
  opacity: 1;
}

.status:hover {
}