@import "jednotka/bootstrap/bootstrap.min";
@import "jednotka/jednotka_green";
//customize contrast color
//$contrast: #01a9e0;
//@import "jednotka/jednotka";

.colorhead {
  background-color: $body-bg;
  }


  .backpic {
  padding-top: -50px;
  background-image: image-url("https://scontent-a-ord.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10435612_1639179586310166_9073602192743322781_n.jpg?oh=f67fecb191aa8e497f1011ecb64e90d4&oe=555096CA");
  background-size: 1200px 600px;
  border: 5px solid darkgray;
  }
